basketry_example/v1/gizmo_service.rb linguist-generated=true
basketry_example/v1/widget_service.rb linguist-generated=true
basketry_example/v1/exhaustive_service.rb linguist-generated=true
basketry_example/v1/auth_permutation_service.rb linguist-generated=true
basketry_example/v1/types/gizmo.rb linguist-generated=true
basketry_example/v1/types/widget.rb linguist-generated=true
basketry_example/v1/types/new_widget.rb linguist-generated=true
basketry_example/v1/types/gizmos_response.rb linguist-generated=true
basketry_example/v1/types/create_widget_body.rb linguist-generated=true
basketry_example/v1/types/exhaustive_params_body.rb linguist-generated=true
basketry_example/v1/types/widget_foo.rb linguist-generated=true
basketry_example/v1/types/new_widget_foo.rb linguist-generated=true
basketry_example/v1/enums/create_gizmo_size.rb linguist-generated=true
basketry_example/v1/enums/exhaustive_params_query_enum.rb linguist-generated=true
basketry_example/v1/enums/exhaustive_params_query_enum_array.rb linguist-generated=true
basketry_example/v1/enums/exhaustive_params_path_enum.rb linguist-generated=true
basketry_example/v1/enums/exhaustive_params_path_enum_array.rb linguist-generated=true
basketry_example/v1/enums/exhaustive_params_header_enum.rb linguist-generated=true
basketry_example/v1/enums/exhaustive_params_header_enum_array.rb linguist-generated=true
basketry_example/v1/enums/product_size.rb linguist-generated=true
basketry_example/v1/utils/service_locator.rb linguist-generated=true
